/** @format */

.header {
  &__container {
    background-color: $primarycolor;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
  }
  &__logo {
    img {
      width: 150px;
      height: 150px;
    }
  }

  &__nav {
    &__container {
      @include mobile-first {
        display: none;
      }
      display: flex;
      align-items: center;
      li {
        list-style: none;
        margin: 0 15px;
      }
      a {
        color: #fff;
        font-size: 18px;
        text-decoration: none;
      }
    }
    &.menu-open {
      position: absolute;
      top: 80px;
      left: 0;
      width: 100%;
      height: calc(100vh - 20px);
      background-color: $primarycolor;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      z-index: 10;
      ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        @include mobile-first {
          width: 100%;
        }
        li {
          margin: 20px 0;
          width: 100%;
          text-align: center;
          font-size: 22px;
        }
      }
    }
  }

  &__menu-icon {
    color: #fff;
    font-size: 24px;
    cursor: pointer;
    display: none;
    @include mobile-first {
      display: block;
      margin-right: 20px;
    }
  }
}

.bar-burger {
  font-size: 27px;
  color: #fff;
}
