/** @format */

.header__sublist {
  display: none;

  z-index: 10;
  &__container {
  }
  &__items {
    margin: 0 !important;
    text-align: center;
    width: 100%;
    padding: 12px 8px;
    border-bottom: 1px solid #ccc;
    &:hover {
      background-color: #ddd;
    }
    a {
      color: #000;
    }
    p {
      color: #000;
    }
  }
}

.header__sublist.open {
  @include mobile-first {
    position: relative;
    right: 0;
    top: 0;
    margin: 20px 0;
    width: 100%;
  }
  display: block;
  position: fixed;
  top: 80px;
  right: 100px;
  width: 250px;
  height: auto;
  background: #fff;
  box-shadow: $boxShadow-2;
}

.list-sublist {
  position: relative;
}

.down-list {
  position: absolute;
  left: calc(100% + 5px);
  top: 5px;
  font-size: 12px;
  @include mobile-first {
    left: calc(60% + 2.5px);
    top: 7px;
  }
}

.sub__link {
  cursor: pointer;
  color: #fff;
}
