/** @format */

.cabinet {
  font-family: $secondaryfont;
  &__content {
    margin: 100px;
    @include mobile-first {
      margin: 42px;
      max-width: 420px;
    }
    p {
      font-size: 18px;
      margin-top: 20px;
      @include mobile-first {
        text-align: justify;
      }
    }
  }
  &__title {
    color: #000;
    font-size: 35px;
    font-weight: bold;
    @include mobile-first {
      font-size: 28px;
    }
  }
  &__more-infos {
    background-color: #f5f5f5;
    &__container {
      margin: 100px;
      @include mobile-first {
        margin: 15px;
      }
      &__content {
        display: flex;
        align-items: center;
        flex-direction: column;
      }
    }
    &__content {
      display: flex;
      align-items: center;
      padding: 60px;
      @include mobile-first {
        flex-direction: column;
        padding: 0;
      }
      &__box {
        margin-left: 50px;
        padding: 12px 25px;
        text-align: center;
        @include mobile-first {
          margin: 20px 0;
        }
        hgroup {
          margin-bottom: 25px;
          h2 {
            font-size: 27px;
            font-weight: bold;
            margin: 20px 0;
          }
          h3 {
            font-size: 18px;
          }
        }
      }
    }
  }
  &__expertise {
    //#8f8d8d
    padding: 0 15px;
    &__values {
      border: 1px solid #8f8d8d;
      margin: 0 20px;
      height: auto;
      @include mobile-first {
        margin: 10px 0;
      }
      hgroup {
        margin: 25px 0;
        h3 {
          font-size: 17.5px;
        }
      }
    }
  }
}

.icon-color {
  color: #000;
}

.new {
  font-size: 24px;
}
