/** @format */

.conference__cta {
  &__container {
    margin: 32px 0;
  }
  &__link {
    background: #000;
    color: #fff;
    padding: 12px 5px;
    width: 125px;
    font-size: 18px;
    font-weight: bold;
  }
}
